
.NavBar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 4rem;
    margin-bottom: 3.5rem;
    padding-bottom: 5rem;
    /* position: fixed; */
    z-index: 1;
}

.NavPartOne{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 0.5rem;
    margin-left: 70px;
    margin-right: 70px;
    width: 100%;
    height: 100%;
    margin-bottom: 2rem;
}
.NavPartTwo{
    box-shadow: inset 0 0 15px 10px  rgba(128, 128, 128, 0.3);
    width: 100vw;
    height: 6rem;
    margin-top: 1rem;
    padding-top: 2rem;
    padding-bottom: 25px;
}
.secondNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin-left: 70px;
    margin-right: 70px;
    height: 1rem;
}

.mailaddress{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    color: rgb(231, 146, 139);
    font-size: 18px;
    text-decoration: none;
    font-family: "Miltonian", serif;

}
.right .mail{
    /* filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(210deg) brightness(0%) contrast(0%); */

}
.left{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}
.left h1{
    font-size: 35px;
    font-weight:800;
    color: rgb(231, 146, 139);
    text-shadow: 4px 4px 4px rgba(231, 146, 139, 3);
    font-family: "Birthstone Bounce", cursive;
}

.socialimg {
    display: flex;
}
.NavPartOne img{
    width: 20px;
}

.logo{
    font-family: "Birthstone Bounce", cursive;
    font-weight: 700;
    color:rgb(40, 167, 222);
    font-size: 28px;
}
.NormalList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.NavBar .NormalList a{
    color: rgb(40, 167, 222);
    text-decoration: none;
    cursor: pointer;
    
}
.NavBar a:hover{
    color: rgb(42, 50, 53);
    cursor: pointer;
    background-color:rgb(40, 167, 222);
    padding: 10px;
}
.NavBar button{
    border: none;
    margin: 0 auto;
}

.NavBar .responsiveList a{
    display: block;
    text-align: center;
    text-align: center;
    color: rgb(42, 50, 53);
    text-decoration: none;
    cursor: pointer;
}
.NavBar .menu{
    width: 30px;
    display: none;
    position: fixed;
    top: 21%;
    left: 75%;
    transform: translate(-50% ,-50%);
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(210deg) brightness(0%) contrast(0%);

}
.responsiveNavBar{
    display: none;
    margin-left:9rem;
    background-color: #efefef;
    position: fixed;
    top: 25%;
}
.responsiveNavBar .closebtn{
    width: 30px;
    margin-top: 1rem;
    margin-left: 1rem;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(210deg) brightness(0%) contrast(0%);
}


/* --------------responsive Screen-------------- */
@media screen and (max-width:768px) {
    .NavBar{
        flex-wrap: wrap;
        position: static;
        padding-bottom: 6rem;
    }
    .NavPartOne{
        gap: 20px;  
    }
    .left h1{
        font-size: 20px;
    }
    .secondNav{
        margin-top: 3rem;
    }
    .secondNav h1{
        font-size: 20px;
        margin-bottom: 2rem;
    }
    .NormalList{
        display: none;
        
    }
    .NavBar .menu{
        display: block;
    }
    .responsiveNavBar{
        display: block;
    }
    .NavBar .responsiveList li a{
        margin: 0 auto;
        display: block;
        margin-bottom: 35px;
    }
    .NavBar .responsiveList {
        border: 1px solid gray;
        border-radius: 10px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5) ;
        width: 200px;
    }
}
