.Footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3rem;
    padding-bottom: 2rem;
    box-shadow: inset 0 0 15px 10px  rgba(128, 128, 128, 0.3);
    padding-top: 1rem;
}
.Footer h2{
    color:rgb(40, 167, 222);
    margin-bottom: 1rem;
}

.Footer .Conect{
    margin-right: 12rem;
}

.Footer .icon{
    width: 30px;
    height: 35px;
    /* border-radius: 25px; */
    /* gap: 25px; */
    /* filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(210deg) brightness(0%) contrast(0%); */
}
.phone{
    display: flex;
    align-items: center;
    gap: 25px;
    color:rgb(9, 8, 39);
}
.address{
    display: flex;
    align-items: center;
    gap: 25px;
    color:rgb(9, 8, 39);
}
.address .mailaddress{
    color:rgb(9, 8, 39);
}
.Footer .footerpic {
    width: 12rem;
}

/* --------------responsive Screen-------------- */
@media screen and (max-width:768px){
    .Footer .Conect{
    margin-left: 2rem;
    }
    .Footer h2{
    font-size: 18px;
    width: 18rem;
    }
    .Footer span{
        font-size: 14px;
    }
}