*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* font-family: "Oswald", sans-serif;
   font-optical-sizing: auto; */


    /* font-family: "Oswald", sans-serif;
    font-optical-sizing: auto; */

    /* font-family: "Birthstone Bounce", cursive; */


    /* font-family: "Nova Oval", system-ui; */

    /* font-family: "Felipa", serif; */

    /* font-family: "Nova Oval", system-ui; */

    font-family: "Birthstone Bounce", cursive;

}


